header{
    display: flex;
    flex-direction: row;
    background-color: #324255;
    align-items: center;
    height: 130px;
    color: white;
}

.account{
    margin-left: 800px;
    
}

.profileBox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    background-color: gainsboro;
    margin: 100px;
    align-items: center;
}

.status{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: white;
    margin: 50px;
    padding: 0 15px;
    width: fit-content;
    margin-left: 500px;
}

.indicator{
    display: flex;
    border-radius: 50%;
    background-color: green;
    height: 10px;
    width: 10px;
    margin-top: 10px;
    
}

.profileImage{
    display: flex;
    border-radius: 50%;
    height: 250px;
    width: 250px;

}

.proImage{
    background-size: cover;
    border-radius: 50%;
    background-color: white;
}